<template>
    <div class="filters__item">
        <h5 class="filters__title">Особенности планировки</h5>
        <ul class="filters__list">
            <filters-list-item
                v-for="(layout,index) in layout_house"
                :key="index"
                :text="layout"
                @click="addedInSpecification(layout)"
            />
        </ul>
    </div>
</template>

<script>
import FiltersListItem from "@/components/filter-layout-house/filters-item";
import {mapState, mapActions} from "vuex";

export default {
    name: "filters-item",
    data() {
        return {
            layout_house: ['2 и более санузла', 'Большая лоджия', 'Гардеробная', 'Кухня-гостиная', 'Лоджия']
        }
    },
    components: {FiltersListItem},
    computed: {
        ...mapState([
            'selected_filters_layout'
        ]),
    },
    methods: {
        ...mapActions([
            'GET_APARTMENTS_FROM_API'
        ]),
        addedInSpecification(layout) {
            if (this.selected_filters_layout.includes(layout)) {
                let index = this.selected_filters_layout.indexOf(layout)
                this.selected_filters_layout.splice(index,1)
            } else {
                this.selected_filters_layout.push(layout)
            }

            this.selectedFilter()
        },
        selectedFilter() {
            this.GET_APARTMENTS_FROM_API()
        }
    }
}
</script>

<style scoped>

</style>
