<template>
    <li class="filters__list-item"
        :class="{'filters__list-item--active': class_active}"
        @click="setActive"
    >
        <span>{{ text }}</span>
    </li>
</template>

<script>
export default {
    name: "filters-item",
    data() {
        return {
            class_active: false
        }
    },
    props: {
        text: {
            type: String,
            required: true,
        }
    },
    methods: {
        setActive() {
            this.class_active = !this.class_active


        }
    }
}
</script>

<style scoped>

</style>
