<template>
    <a href="#" class="catalog__card card">
        <div class="card__inner">
            <div class="card__img-wrapper">
                <img :src=" require('@/assets/images/plans/' + apartment.planLink) " alt="">
            </div>
            <div class="card__text-wrapper">
                <div class="card__title-wrapper">
                    <h4 class="card__title">{{ apartment.name }}</h4>
                    <heart/>
                </div>
                <h5 class="card__housing">{{ apartment.housingComplexName }}</h5>
                <div class="card__numbers-wrap">
                    <div class="card__number-room">{{ apartment.sameLayoutFlatCount }} квартир</div>
                    <div class="card__number-price">от {{ apartment.price[0] + ',' + apartment.price[1]}} млн ₽</div>
                </div>
                <div class="card__button-wrapper">
                    <button class="card__button">выбери свою</button>
                </div>
            </div>
        </div>
    </a>
</template>

<script>
import Heart from "@/components/UI/heart";
export default {
    name: "card",
    components: {Heart},
    props: {
        apartment: {
            type: Object,
            default: () => {}
        }
    }
}
</script>

<style scoped>

</style>
