<template>
    <div class="range-slider">
        <div class="slider__price">
            <div class="filter-slider__wrapper">
                <label>
                    <span>от</span>
                    <input
                        v-model="price[0]"
                        ref="input-min"
                        type="text"
                        @change="changeSlider()"
                    >
                </label>
                <label>
                    <span>до</span>
                    <input
                        v-model="price[1]"
                        ref="input-max"
                        type="text"
                        @change="changeSlider()"
                    >
                </label>
            </div>
        </div>
        <Slider v-model="price"
                :max="max"
                :step="step"
                :tooltips="tooltips"
                :lazy="lazy"
                @update="changeInput"
                @change="setRangeSlider"
        />
    </div>
</template>

<script>

import Slider from '@vueform/slider'
import {mapState, mapActions, mapMutations} from "vuex";


export default {
    name: "range-slider",
    components: {
        Slider,
    },
    data() {
        return {
            price: [0, 5700000],
            max: 5700000,
            min: 0,
            step: 1,
            tooltips: false,
            lazy: false,
            selectedSlider: []
        }
    },
    computed: {
        ...mapState([
            'priceMin',
            'priceMax',
            'selected_slider'
        ]),
    },
    methods: {
        ...mapActions([
            'GET_APARTMENTS_FROM_API'
        ]),
        ...mapMutations([
            'FILTERS_BY_PRICE',
            'SET_PRICE_RANGE_SLIDER',
        ]),
        changeSlider() {
            this.setRangeSlider()
        },
        changeInput() {
            this.formattedPrice()
        },
        setRangeSlider() {
            this.SET_PRICE_RANGE_SLIDER([this.price[0], this.price[1]])
            this.GET_APARTMENTS_FROM_API()

            this.formattedPrice()

            this.selectedSliderInFilter()
        },
        selectedSliderInFilter() {
            if ((this.price[0] !== this.min || this.price[1] !== this.max) && this.selected_slider.length === 0) {
                this.selected_slider.push(1)
            }
            if ((this.price[0] == this.min && this.price[1] == this.max) && this.selected_slider.length !== 0) {
                this.selected_slider.length = 0
            }
        },
        formattedPrice() {
            this.$refs["input-min"].value = Number(this.$refs["input-min"].value).toLocaleString()
            this.$refs["input-max"].value = Number(this.$refs["input-max"].value).toLocaleString()
        },
    },
    mounted() {
        this.SET_PRICE_RANGE_SLIDER([this.price[0], this.price[1]]);
        this.formattedPrice()
    }
}
</script>




<style src="@vueform/slider/themes/default.css"></style>
<style lang="scss">
    .slider-horizontal {
        width: calc( 100% - 14px ) !important;
        height: 1px;
        position: relative;
        left: 7px;
    }
    .range-slider {
        width: 100%;
    }
    .slider-handle:focus {
        box-shadow: none;
        outline: none;
        border: var(--slider-handle-border,0);
        border-radius: var(--slider-handle-radius,9999px);
        box-shadow: var(--slider-handle-shadow,.5px .5px 2px 1px rgba(0,0,0,.32));
    }
    .slider-active {
        background: var(--black-color);
    }
    .slider-connect {
        background: var(--black-color);
    }
    .slider-horizontal .slider-handle {
        top: -8px;
    }
    .slider-handle-upper {

    }
    .slider-handle-lower {

    }
    .filter-slider__wrapper label input {
        &:focus {
            outline: var(--black-color);
        }
    }
</style>



