<template>
    <div class="wrapper">
        <main class="page">
            <section class="section-catalog">
                <div class="catalog _container">
                    <div class="catalog__wrapper">
                        <div class="catalog__items">
                            <div class="catalog__header">
                                <div class="catalog__header-found">
                                    <h2 class="catalog__title">Найдено {{ filtered_apartments.length }} планировок</h2>
                                    <div class="catalog__header-filter header-filter">
                                        <div class="header-filter__number">
                                            <span class="header-filter__number-numeric"
                                                  :class="{'header-filter__number-numeric--active' : selected_filters_layout.length || selected_slider.length}"
                                            >{{ selected_filters_layout.length + selected_slider.length }}
                                            </span>Фильтр
                                        </div>
                                        <div class="header-filter__reset" @click="resetAll">Сбросить все</div>
                                    </div>
                                </div>
                                <selected-specification/>
                                <div class="catalog__header-bottom header-bottom">
                                    <div class="header-bottom__cheaper"
                                        @click="sortFirstCheaper">
                                        Сначала дешевле
                                        <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7 8L4 11L1 8" stroke="#858B97" stroke-linecap="round"/>
                                            <path d="M1 4L4 1L7 4" stroke="#858B97" stroke-linecap="round"/>
                                        </svg>
                                    </div>
                                    <div class="header-bottom__net">
                                        <div class="header-bottom__net-item"
                                             :class="{'header-bottom__net-item--active' : activeLine}"
                                             @click="transformCardList">
                                            <svg class="header-bottom__net-item-list" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <mask id="path-1-inside-1_10_23075" fill="white">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4 4H20V8H4V4ZM4 10H20V14H4V10ZM20 16H4V20H20V16Z"/>
                                                </mask>
                                                <path d="M20 4H21V3H20V4ZM4 4V3H3V4H4ZM20 8V9H21V8H20ZM4 8H3V9H4V8ZM20 10H21V9H20V10ZM4 10V9H3V10H4ZM20 14V15H21V14H20ZM4 14H3V15H4V14ZM4 16V15H3V16H4ZM20 16H21V15H20V16ZM4 20H3V21H4V20ZM20 20V21H21V20H20ZM20 3H4V5H20V3ZM21 8V4H19V8H21ZM4 9H20V7H4V9ZM3 4V8H5V4H3ZM20 9H4V11H20V9ZM21 14V10H19V14H21ZM4 15H20V13H4V15ZM3 10V14H5V10H3ZM4 17H20V15H4V17ZM5 20V16H3V20H5ZM20 19H4V21H20V19ZM19 16V20H21V16H19Z" fill="#D6DCE1" mask="url(#path-1-inside-1_10_23075)"/>
                                            </svg>
                                        </div>
                                        <div
                                            class="header-bottom__net-item"
                                            :class="{'header-bottom__net-item--active' : activeCol}"
                                            @click="transformCardCol"
                                        >
                                            <svg class="header-bottom__net-item-bar" width="24" height="24" viewBox="0 0 24 24" fill="" xmlns="http://www.w3.org/2000/svg">
                                                <rect x="4.5" y="4.5" width="6" height="6" stroke=""/>
                                                <rect x="13.5" y="4.5" width="6" height="6" stroke=""/>
                                                <rect x="4.5" y="13.5" width="6" height="6" stroke=""/>
                                                <rect x="13.5" y="13.5" width="6" height="6" stroke=""/>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="catalog__cards-wrapper"
                                :class="{'catalog__cards--line': activeLine, 'catalog__cards--col' : activeCol}"
                                 v-if="filtered_apartments.length">
                                <card
                                    v-for="apartment in filtered_apartments"
                                    :key="apartment.id"
                                    :apartment="apartment"
                                />
                            </div>
                            <div v-else class="catalog__title" style="margin-top: 20px">Попробуйте изменить критерии поиска</div>
                        </div>
                        <div class="catalog__filters filters">
                            <div class="filters__item filter__number-rooms">
                                <number-of-rooms-list></number-of-rooms-list>
                            </div>
                            <filters-item/>
                            <filter-project/>
                            <div class="filters__item filter-slider">
                                <div class="filters__item filter-slider">
                                    <h5 class="filters__title">Стоимость, ₽</h5>
                                    <Slider></Slider>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</template>

<script>
import Card from '@/components/card'
import Slider from '@/components/range-slider'
import {mapState, mapActions} from 'vuex'
import NumberOfRoomsList from "@/components/number-of-rooms/number-of-rooms-list";
import SelectedSpecification from "@/components/selected-specification/selected-specification-list";
import FiltersItem from "@/components/filter-layout-house/filters-list";
import FilterProject from "@/components/filter-project-house/filter-project";

export default {
    name: 'wrapper',
    data() {
        return {
            activeLine: false,
            activeCol: true,
        }
    },
    components: {
        FilterProject,
        FiltersItem,
        SelectedSpecification,
        NumberOfRoomsList,
        Card,
        Slider,
    },
    computed: {
        ...mapState([
            'apartments',
            'filtered_apartments',
            'selected_filters_layout',
            'selected_slider'
        ]),
    },
    methods: {
        ...mapActions([
            'GET_APARTMENTS_FROM_API'
        ]),
        resetAll() {
            this.selected_filters_layout.length = 0
            this.$emit('resetAll')
        },
        sortFirstCheaper() {
            this.filtered_apartments = this.filtered_apartments.sort(function(a,b) {
                return a.price - b.price
            })
        },
        transformCardList() {
            this.activeLine = true
            this.activeCol = false
        },
        transformCardCol() {
            this.activeLine = false
            this.activeCol = true
        }
    },
    mounted() {
        this.GET_APARTMENTS_FROM_API()
    }
}
</script>

<style scoped>

</style>
