<template>
    <div class="filters__item">
        <h5 class="filters__title">Проект</h5>
        <filter-layout-list/>
    </div>
</template>

<script>
import FilterLayoutList from "@/components/filter-project-house/filter-project-list";
export default {
    name: "filter-project",
    components: {FilterLayoutList}
}
</script>

<style scoped>

</style>
