<template>
    <ul class="filter__project">
        <filter-project-list-item
            v-for="(project,index) in projects"
            :key="index"
            :project="project"
            @addedInSpecification="addedInSpecification"
            @selectedFilter="selectedFilter"
        />
    </ul>
</template>

<script>
import {mapState, mapActions} from "vuex";
import FilterProjectListItem from "@/components/filter-project-house/filter-project-list-item";
export default {
    name: "filter-project-list",
    components: {FilterProjectListItem},
    data() {
        return {
            projects: [
                {
                    text: 'ZNAK',
                    img: 'znak.svg'
                },
                {
                    text: 'На Ломоносова',
                    img: 'lomonosova.svg'
                },
                {
                    text: 'Васильки',
                    img: 'vasilki.svg'
                },
                {
                    text: 'На Калинина',
                    img: 'kalinina.svg'
                },
            ]
        }
    },
    computed: {
        ...mapState([
            'selected_filters_layout',
        ]),
    },
    methods: {
        ...mapActions([
            'GET_APARTMENTS_FROM_API'
        ]),
        addedInSpecification(project) {
            if (this.selected_filters_layout.includes(project.text)) {
                let index = this.selected_filters_layout.indexOf(project.text)
                this.selected_filters_layout.splice(index,1)
            } else {
                this.selected_filters_layout.push(project.text)
            }
        },
        selectedFilter() {
            this.GET_APARTMENTS_FROM_API()
        }
    },

}
</script>

<style scoped>

</style>
