<template>
    <li class="filter__project-item">
        <label class="checkbox-other">
            <input type="checkbox" @change="addedInSpecification">
            <span>{{project.text}}</span>
            <img :src=" require('@/assets/images/' + project.img) " alt="">
        </label>
    </li>
</template>

<script>
export default {
    name: "filter-project-list-item",
    props: {
        project: {
            type: Object,
        }
    },
    methods: {
        addedInSpecification() {
            this.$emit('addedInSpecification', this.project)
            this.$emit('selectedFilter')
        }
    }
}
</script>

<style scoped>

</style>
