<template>
    <h5 class="filters__title">Количество комнат</h5>
    <ul class="filters__rooms">
        <number-of-rooms-item
            v-for="(number, index) in number_of_rooms"
            :key="index"
            :number="number"
            @addedInSpecification="addedInSpecification"
            @selectedFilter="selectedFilter"
        >
        </number-of-rooms-item>
    </ul>
</template>

<script>
import numberOfRoomsItem from "@/components/number-of-rooms/number-of-rooms-item";
import {mapState, mapMutations, mapActions} from "vuex";

export default {
    name: "number-of-rooms-list",
    data() {
        return {
            number_of_rooms: ['C', '1', '1+', '2', '2+', '3', '3+', '4...'],
        }
    },
    components: {
        numberOfRoomsItem
    },
    computed: {
        ...mapState([
            'selected_filters_layout'
        ]),
    },
    methods: {
        ...mapMutations([
            'FILTERS_BY_APARTMENTS'
        ]),
        ...mapActions([
           'GET_APARTMENTS_FROM_API'
        ]),
        addedInSpecification(room) {
            if (this.selected_filters_layout.includes(room)) {
                let index = this.selected_filters_layout.indexOf(room)
                this.selected_filters_layout.splice(index,1)
            } else {
                this.selected_filters_layout.push(room)
            }
        },
        selectedFilter() {
            this.GET_APARTMENTS_FROM_API()
        }
    }
}
</script>

<style scoped>

</style>
