<template>
    <li class="filters__rooms-item">
        <label class="checkbox-other">
            <input type="checkbox" @change="addedClassIfActive">
            <span>{{ number }}</span>
        </label>
    </li>
</template>

<script>
import {mapMutations} from "vuex";

export default {
    name: "number-of-rooms-item",
    data() {
        return {

        }
    },
    props: {
        number: {
            type: String,
            required: true
        }
    },
    methods: {
        ...mapMutations([
           'FILTERS_BY_ROOMS'
        ]),
        addedInSpecification() {
            this.$emit('addedInSpecification', this.number)
        },
        selectedFilter() {
            this.$emit('selectedFilter', this.number)
        },
        addedClassIfActive(event) {
            if (event.target.checked) {
                this.room_active = true
            } else {
                this.room_active = false
            }

            this.addedInSpecification()

            this.$emit('selectedFilter')
        },
    }
}
</script>

<style lang="scss">
.checkbox-other {
    display: block;
    margin: 0 0 10px 0;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.checkbox-other input[type=checkbox] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.checkbox-other span {
    position: relative;
    width: 33px;
    height: 33px;
    border: 1px solid #E4E7EA;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    transition: 0.3s ease-out;
}

/* Checked */
.checkbox-other input[type=checkbox]:checked + span {
    background: var(--light-blue-color);
    color: var(--white-color);
}

.checkbox-other span {
    &:hover {
        border: 1px solid var(--light-blue-color);
    }
}
</style>
