<template>
    <div class="catalog__specifications">
        <SelectedSpecificationItem
            v-for="(filters_layout, index) in selected_filters_layout"
            :key="index"
            :text="filters_layout"
        />
    </div>
</template>

<script>
import SelectedSpecificationItem from "@/components/selected-specification/selected-specification-item";
import {mapState} from "vuex";

export default {
    name: "selected-specification",
    components: {
        SelectedSpecificationItem
    },
    data() {
        return {

        }
    },
    computed: {
        ...mapState([
            'selected_filters_layout'
        ])
    },
    methods: {

    }
}
</script>

<style scoped>

</style>
