<template>
    <div class="catalog__specifications-elements">{{ text }}</div>
</template>

<script>
export default {
    name: "selected-specification--item",
    props: {
        text: {
            type: String,
        }
    }
}
</script>

<style scoped>

</style>
