<template>
    <div class="app">
        <wrapper @resetAll="resetAll" :key="componentKey"></wrapper>
    </div>
</template>

<script>
import Wrapper from '@/components/wrapper'
import {mapState} from "vuex";

export default {
    name: 'App',
    components: {
        Wrapper
    },
    data() {
        return {
            componentKey: 0
        }
    },
    computed: {
        ...mapState([
            'selected_slider'
        ])
    },
    methods: {
        resetAll() {
            this.componentKey += 1
            this.selected_slider.length = 0
        }
    }
}
</script>

<style lang="scss">

</style>
