.section-catalog {
    padding: 105px 0;
}
.catalog__wrapper {
    display: flex;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px -6px 20px rgba(0, 19, 35, 0.4);
}
.catalog__items {
    flex: 0 1 75%;
    background: #F5F6F7;
    border-radius: 8px 0 0 8px;
    padding: 30px 16px 30px 30px;
}
.catalog__filters {
    flex: 0 1 25%;
    padding: 40px 33px 33px 15px;
}
.catalog__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 111%;
    margin-bottom: 15px;
}
.catalog__header-found {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-filter {
    display: flex;
    align-items: center;
}
.header-filter__number {

}
.catalog__specifications {
    display: flex;
    flex-wrap: wrap;
}
.catalog__specifications-elements {
    background: #FFFFFF;
    border: 1px solid #E4E7EA;
    border-radius: 2px;
    padding: 8px 14px 10px;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    &:not(:last-child) {
        margin-right: 4px;
    }
}
.header-bottom {
    display: flex;
    justify-content: space-between;
}
.header-bottom__cheaper {
    margin-top: 26px;
    display: flex;
    align-items: center;
    cursor: pointer;
    svg {
        width: 8px;
        height: 12px;
        margin-left: 8px;
    }
    transition: 0.3s ease-out;
    &:hover {
        color: var(--light-blue-color);
    }
}
.header-filter__number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-right: 10px;
}
.header-filter__number-numeric {
    background: #D6DCE1;
    color: var(--white-color);
    width: 14px;
    height: 14px;
    margin-right: 4px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 110%;
}
.header-filter__reset {
    color: var(--blue-color);
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    transition: 0.3s ease-out;
    cursor: pointer;
    &:hover {
        color: var(--light-blue-color);
    }
}
.header-bottom__net {
    display: flex;
}
.header-bottom__net-item {
    background: #FFFFFF;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease-out;
    & + .header-bottom__net-item {
        margin-left: 2px;
    }
    svg {
        width: 24px;
        height: 24px;
    }
    &:hover {
        box-shadow: 0px 4px 10px rgba(0, 19, 35, 0.1);
    }
}
.header-bottom__net-item-bar {
    fill: none;
    stroke: #D6DCE1;
}
.header-bottom__net-item-list {

}
.header-bottom__net-item--active {
    .header-bottom__net-item-bar {
        stroke: #1E3447 !important;
    }
    .header-bottom__net-item-list {
        & > path {
            fill: #1E3447 !important;
        }
    }
}
.card__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
}
.card__housing {
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
}
.card__numbers-wrap {
    display: flex;
    align-items: center;
    margin-top: 7px;
    position: relative;
    z-index: 1000;
}

.card {
    position: relative;
    transition: 0.3s ease-out;
    &:hover {
        z-index: 1;
        .card__inner {
            box-shadow: 0px 0px 15px rgba(179, 189, 197, 0.3), 0px 25px 15px -15px rgba(179, 189, 197, 0.3);
            transform: translateY(-8px);
        }
        .card__title {
            color: var(--blue-color);
        }
        .card__button-wrapper {
            opacity: 1;
            pointer-events: all;
            z-index: 100;
        }
        svg {
            opacity: 1;
            pointer-events: all;
            &:hover {
                animation: .75s linear 0s infinite reverse heartBeat;
                path {
                    stroke: #C50000;
                    fill: #C50000;
                }
            }
        }
        .card__title-wrapper {
            &::after {
                opacity: 1;
            }
        }
    }
}
.card__img-wrapper {
    position: relative;
    height: 192px;
    margin-bottom: 46px;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.catalog__cards--col {
    display: flex;
    flex-wrap: wrap;
    margin: -4px -8px;
    .card {
        flex: 0 1 33.3333%;
        padding: 8px 4px;
    }
}
.card {
    padding: 8px 4px;
}
.catalog__cards--line {
    display: flex;
    flex-direction: column;
    margin: -4px -8px;
    .card {
        padding: 8px 4px;
    }
    .card__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .card__img-wrapper {
        width: 50%;
        margin-bottom: 0;
    }
    .card__text-wrapper {
        width: 50%;
        display: flex;
        flex-direction: column;
    }
}
.card__title-wrapper {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: -16px;
        width: 100%;
        height: 1px;
        background-image: url("../images/line.svg");
        opacity: 0;
        transition: 0.3s ease-out;
    }
}
.card__title-wrapper {
    display: flex;
    justify-content: space-between;
    svg {
        opacity: 0;
        pointer-events: none;
    }
}
.card--favorite {
    svg {
        path {
            stroke: #C50000 !important;
            fill: #C50000 !important;
        }
        &:hover {
            animation: none !important;
        }
    }
}
@keyframes heartBeat {
    0%, 100%, 85% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.25);
    }
    45% {
        transform: scale(1.1);
    }
    65% {
        transform: scale(1.5);
    }
}
.card__icon-heart {
    width: 24px;
    height: 24px;
}
.catalog__cards-wrapper {
    margin-top: 7px;
}
.card__inner {
    background: #FFFFFF;
    border-radius: 4px;
    padding: 30px 15px 15px 15px;
    height: 100%;
    position: relative;
}
.card__number-room {
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    margin-right: 14px;
    position: relative;
    &::after {
        content: '.';
        font-size: 14px;
        line-height: 100%;
        color: #1E3447;
        position: absolute;
        right: -9px;
    }
}
.card__number-price {
    position: relative;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    margin-right: 14px;
}
.card__button-wrapper {
    position: absolute;
    bottom: 15px;
    left: 0px;
    width: 100%;
    background: #fff;
    transform: translateY(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
    padding: 15px 0;
    box-shadow: 0px 0px 15px rgba(179, 189, 197, 0.3), 0px 25px 15px -15px rgba(179, 189, 197, 0.3);
    opacity: 0;
    pointer-events: none;
    &::after {
        content: '';
        width: 100%;
        height: 20px;
        background: #fff;
        top: -20px;
        position: absolute;
    }
}
.header-filter__number-numeric--active {
    background: var(--blue-color) !important;
}
.card__button {
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #001323;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    padding: 18px 18px 17px;
    background: #B7DFFF;
    border-radius: 2px;
    width: calc(100% - 30px);
    justify-content: center;
    transition: 0.3s ease-out;
    &:hover {
        color: var(--white-color);
        background: var(--light-blue-color);
    }
}
.filters__title {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.filters__list-item {
    &:hover {
        span {
            color: #0060AF;
            &::before {
                border: 1px solid #E4F3FF !important;
                background: #E4F3FF !important;
            }
        }
    }
    &:not(:last-child) {
        margin-bottom: 4px;
    }
    span {
        padding: 3px 12px 3px 23px;
        border-radius: 2px;
        user-select: none;
        position: relative;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        &::after {
            display: block;
            content: '';
            width: 13px;
            height: 10px;
            background: url("../images/check.svg") no-repeat;
            position: absolute;
            top: 6px;
            left: 6px;
            opacity: 0;
            -ms-transform: scale(0);
            transform: scale(0);
            transition: opacity .2s,transform .2s;
        }
        &::before {
            display: block;
            content: '';
            width: 14px;
            height: 14px;
            border: 1px solid #D6DCE1;
            border-radius: 2px;
            position: absolute;
            top: 3px;
            left: 0;
            transition: opacity .2s,border-color .3s;
        }
    }
    &.filters__list-item--active {
        span {
            color: var(--white-color);
            background: #0060AF;
            padding-left: 29px;
            &::before {
                opacity: 0;
            }
            &::after {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
}
.filter-slider__wrapper {
    display: flex;
    margin: 0 -2px;
    margin-bottom: 16px;
    label {
        display: flex;
        align-items: center;
        flex: 0 1 50%;
        position: relative;
        padding: 0 2px;
        span {
            color: #858B97;
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;
            margin-right: 4px;
            position: absolute;
            left: 9px;
        }
        input {
            width: 100%;
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;
            color: var(--black-color);
            border: 1px solid #D6DCE1;
            padding: 9px;
            padding-left: 24px;
            border-radius: 2px;
        }
    }
}
.filters__rooms {
    display: flex;
}
.filters__rooms-item {
    width: 33px;
    height: 33px;
    &:not(:last-child) {
        margin-right: 4px;
    }
}
.filters__item {
    &:not(:last-child) {
        margin-bottom: 25px;
    }
}

.filter__project {
    flex-wrap: wrap;
    margin-bottom: -4px;
    display: flex;
    .filter__project-item {
        margin-right: 4px;
    }
    .checkbox-other {
        margin-bottom: 4px;
    }
    .filters__rooms-item {
        width: auto !important;
        margin-bottom: 4px;
    }
    .checkbox-other {
        span {
            width: 100% !important;
            padding: 7px 13px 9px 33px !important;
        }
        img {
            position: absolute;
            top: 7px;
            left: 13px;
        }
    }
}
