

//</Подключаем шрифты>=======================================================================================
@font-face {
    font-family: 'Montserrat';
    src: local('Geometria'), local('Geometria'),
    url('~@/assets/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('~@/assets/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), local('Montserrat'),
    url('~@/assets/fonts/Montserrat-Medium.woff2') format('woff2'),
    url('~@/assets/fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Geometria Thin'), local('Geometria-Thin'),
    url('~@/assets/fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('~@/assets/fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Montserrat";
$fontSize: 14;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1360;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: var(--black-color);

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
    color: $mainColor;
    transition: 0.3s ease-out;
    &._lock {
        overflow: hidden;
    }
}
.wrapper {
    background: linear-gradient(232.72deg, #1E2C38 3.98%, #1B4569 100%);
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &._loaded {
    }
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    @media (max-width: $md1 + px) {
        padding: 32px;
    }
    @media (max-width: $md2+px) {
        padding: 32px;
    }
    @media (max-width: $md3+px) {
        max-width: none;
        padding: 0 16px;
    }
}

@import "catalog";

.page {
    flex: 1 1 auto;
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
:root {
    --black-color: #1E3447;
    --blue-color: #0060AF;
    --white-color: #ffffff;
    --light-blue-color: #0086F4;
    --red-color: #E5002B;
}
