<template>
    <svg @click.stop.prevent="activateHeart"
         :class="{'card--favorite' : active}"
         width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M10.798 7.45201L11.5129 8.15659L12.2148 7.43912L13.341 6.28799C15.0921 4.56865 17.9446 4.57067 19.6931 6.29405C21.4356 8.01152 21.4356 10.803 19.6931 12.5204L11.4983 20.5975L3.30687 12.5618C3.30665 12.5616 3.30643 12.5613 3.30621 12.5611C1.56438 10.8436 1.5646 8.05266 3.30687 6.33541C5.05741 4.61 7.91462 4.61 9.66516 6.33541L10.3671 5.6232L9.66516 6.33541L10.798 7.45201Z"
            stroke="#D6DCE1" stroke-width="2"/>
    </svg>
</template>

<script>
export default {
    name: "heart",
    data() {
        return {
            active: false,
        }
    },
    methods: {
        activateHeart() {
            console.log('asdf')
            this.active = !this.active
        }
    }
}
</script>

<style scoped lang="scss">
.card--favorite {
    path {
        stroke: #C50000 !important;
        fill: #C50000 !important;
    }

    &:hover {
        animation: none !important;
    }
}
</style>
